*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'roboto', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: rgba(49, 108, 175, 0.863);
}

.resume-contents{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #0f083a;
}

.right-section{
    grid-column: span 5;
    height: 100%;
    background-color: #364964;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile{
    width: 100%;
    border-radius: 100%;
}

.profile .profile-image {
    width: 100%;
    border-radius: 100%;
}

.name {
    color: #D6DBDF;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.profession {
    color: #eeeeee;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    color: #eeeeee;
    font-size: 20px;
}

.estudante{
 color: white;
}

.contact-info ul {
    padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: #eeeeee;
}

.skills ul {
    padding-top: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #eeeeee;
}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #eeeeee;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 18px;
    color: #eeeeee;
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    padding-left: 5px;
}